openapi: 3.2.0
info:
  title: Nhs Metadata API
  contact:
    name: ODS FHIR API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  version: '1.0'
  description: 'Operations tagged Metadata across 2 of this provider''s published API definitions: organisation-data-service-fhir-r4-api.yaml, organisation-data-service-fhir-stu3-api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://beta.ods.dc4h.link/fhir/
  description: User acceptance test (UAT) environment.
- url: https://jenkins.ods.dc4h.link/fhir/
  description: Production environment.
- url: https://uat.directory.spineservices.nhs.uk/STU3/
  description: User acceptance test (UAT) environment.
- url: https://directory.spineservices.nhs.uk/STU3/
  description: Production environment.
tags:
- name: Metadata
paths:
  /metadata:
    get:
      summary: Get capability statement
      operationId: get-capability-statement
      description: '## Overview

        Use this endpoint to get a Capability Statement. A Capability Statement is a set of capabilities of a FHIR Server that may be used as a statement of actual server functionality or a statement of required or desired server implementation.


        [Needs updating]

        '
      responses:
        '200':
          description: Retrieved the Capability Statement from the FHIR Server
          content:
            application/fhir+json:
              example:
                resourceType: CapabilityStatement
                url: https://uat.directory.spineservices.nhs.uk/STU3/metadata?
                version: 1.0.0
                name: ODSAPI-CapabilityStatement-1
                status: active
                date: '2018-04-12'
                publisher: NHS Digital
                contact:
                - name: National Service Desk
                  telecom:
                  - system: email
                    value: ssd.nationalservicedesk@nhs.net
                    use: work
                  - system: phone
                    value: 0300 303 4034
                    use: work
                description: An API for retrieving organisation data from the NHS Digital Organisation Data Service.
                copyright: Copyright © 2017 NHS Digital
                kind: instance
                instantiates:
                - https://fhir.nhs.uk/STU3/CapabilityStatement/ODSAPI-CapabilityStatement-1
                fhirVersion: 3.0.1
                acceptUnknown: 'no'
                format:
                - application/fhir+xml
                - application/fhir+json
                implementationGuide:
                - https://developer.nhs.uk/apis/ods/
                profile:
                - reference: https://fhir.nhs.uk/STU3/StructureDefinition/ODSAPI-Organization-1
                - reference: https://fhir.nhs.uk/STU3/StructureDefinition/ODSAPI-ActivePeriod-1
                - reference: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-ODSAPI-ActivePeriod-1
                - reference: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-ODSAPI-OrganizationRole-1
                - reference: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-ODSAPI-UPRN-1
                - reference: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-ODSAPI-DateType-1
                rest:
                - mode: server
                  security:
                    cors: true
                  resource:
                  - extension:
                    - url: http://hl7.org/fhir/StructureDefinition/capabilitystatement-search-parameter-combination
                      extension:
                      - url: required
                        valueString: ods-org-primaryRole
                      - url: required
                        valueString: ods-org-role
                    type: Organization
                    profile:
                      reference: https://fhir.nhs.uk/STU3/StructureDefinition/ODSAPI-Organization-1
                    interaction:
                    - code: read
                    - code: search-type
                    versioning: no-version
                    readHistory: false
                    updateCreate: false
                    conditionalCreate: false
                    conditionalRead: not-supported
                    conditionalUpdate: false
                    conditionalDelete: not-supported
                    searchParam:
                    - name: _id
                      type: token
                    - name: _lastUpdated
                      type: date
                    - name: _count
                      type: number
                    - name: _summary
                      type: token
                    - name: identifier
                      type: token
                    - name: name
                      type: string
                    - name: active
                      type: token
                    - name: address-city
                      type: string
                    - name: address-postalcode
                      type: string
                    - name: ods-org-role
                      definition: https://fhir.nhs.uk/STU3/SearchParameter/ODSAPI-OrganizationRole-Role-1
                      type: token
                    - name: ods-org-primaryRole
                      definition: https://fhir.nhs.uk/STU3/SearchParameter/ODSAPI-OrganizationRole-PrimaryRole-1
                      type: token
                  - type: CodeSystem
                    interaction:
                    - code: read
                    versioning: no-version
                    readHistory: false
                    updateCreate: false
                    conditionalCreate: false
                    conditionalRead: not-supported
                    conditionalUpdate: false
                    conditionalDelete: not-supported
                    searchParam:
                    - name: url
                      type: string
                      documentation: The logical URL for the CodeSystem
      tags:
      - Metadata
    servers:
    - url: https://beta.ods.dc4h.link/fhir/
      description: User acceptance test (UAT) environment.
    - url: https://jenkins.ods.dc4h.link/fhir/
      description: Production environment.
x-refined-from:
- organisation-data-service-fhir-r4-api.yaml
- organisation-data-service-fhir-stu3-api.yaml
x-nhsd-api-platform:
  meta:
    service_name: e-referrals-service-api
    short_service_name: ers
    service_base_path: referrals
    product_display_name: e-Referrals-Service
    product_description: The NHS e-RS vision is to enable local innovation and adoption of paperless referrals. To support this vision NHS Digital have created a set of APIs which provide a well-defined, simple to use data interface to the NHS e-Referral Service (e-RS). See https://digital.nhs.uk/developer/api-catalogue/e-referral-service-fhir
    pipeline_name_prefix: E-Referrals-Service
