openapi: 3.2.0
info:
  title: organisation-data-terminology-api List{id} API
  version: 1.0.1-alpha
  contact:
    name: ODS FHIR API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: '## Overview

    Use this API to access a dataset of health and social care organisations, such as trusts or GP practices, using the Organisation Data Service (ODS).'
servers:
- url: https://beta.ods.dc4h.link/fhir/
  description: User acceptance test (UAT) environment.
- url: https://jenkins.ods.dc4h.link/fhir/
  description: Production environment.
tags:
- name: List{id}
paths:
  /List{id}:
    get:
      summary: Get deletion notices
      operationId: get-deletion-notices
      description: '## Overview


        Use this endpoint to check for any full record or partial record deletions. As these occur infrequently a full List of deletions will be provided.

        There are four Lists which provide details of deletions that have occured within the ODS Data

        * Organization-deletion

        * OrganizationAffiliation-deletion

        * Organization-role-deletion

        * Organization-succession-deletion


        #### Organization-deletion

        From time to time it is posible that we create or receive orgnisations which are created in error and removed from the source data. when this occurs there is no updates to the record, it is simply no longer available. to inform users when Organisations have been deleted, we have used the List resource to provide the ODS Code of the records which have been deleted so that you may removed them from any local copies you may be maintaining.


        #### OrganizationAffilliation-deletion

        in the unlikely event that a relationship must be deleted rather then given an end date, the RelationshipID will be provided in this List resource.


        #### Organization-role-deletion

        In the unlikely event that a role is deleted, rather than given an end date, the roleID will be provided in this list resource. As the role forms part of the Organization Resource you may not need to take action other than to verify the role was intentionally removed.


        #### Organization-succession-deletion

        In the unlikely event that the succession is removed from an organisation, the Organisation''s ODS Code and that of it''s successor will be published in this list resource. As the successor and predecessor are properties of the ods-organization-code CodeSystem, you may not need to take action if you are maintaining a local copy of the CodeSystem other than to verify the succession was intentionally removed.'
      parameters:
      - in: path
        name: id
        description: 'the business name for the List which contains details of deleted records

          '
        required: true
        schema:
          type: string
          example: Organization-deletion
      responses:
        '200':
          description: a valid List resource containing details of deleted records
          content:
            application/fhir+json:
              example:
                resourceType: List
                id: Organization-deletion
                meta:
                  versionId: '3'
                  lastUpdated: '2024-03-06T08:33:55.775+00:00'
                  source: '#3c8d0fc7e6526ce0'
                status: current
                mode: working
                title: List of Organization Resource Deletions
                date: '2024-01-25T00:00:00+00:00'
                note:
                - text: A list of complete Organisation records which have been deleted from the ODS Dataset
                entry:
                - date: '2024-01-17T00:00:00+00:00'
                  item:
                    type: Organization
                    identifier:
                      system: https://fhir.nhs.uk/Id/ods-organization-code
                      value: FVG57
                - date: '2024-01-17T00:00:00+00:00'
                  item:
                    type: Organization
                    identifier:
                      system: https://fhir.nhs.uk/Id/ods-organization-code
                      value: FJE57
            application/xml:
              example: <List xmlns="http://hl7.org/fhir"> <id value="Organization-deletion"/> <meta> <versionId value="3"/> <lastUpdated value="2024-03-06T08:33:55.775+00:00"/> <source value="#3c8d0fc7e6526ce0"/> </meta> <status value="current"/> <mode value="working"/> <title value="List of Organization Resource Deletions"/> <date value="2024-01-25T00:00:00+00:00"/> <note> <text value="A list of complete Organisation records which have been deleted from the ODS Dataset"/> </note> <entry> <date value="2024-01-17T00:00:00+00:00"/> <item> <type value="Organization"/> <identifier> <system value="https://fhir.nhs.uk/Id/ods-organization-code"/> <value value="FVG57"/> </identifier> </item> </entry> <entry> <date value="2024-01-17T00:00:00+00:00"/> <item> <type value="Organization"/> <identifier> <system value="https://fhir.nhs.uk/Id/ods-organization-code"/> <value value="FJE57"/> </identifier> </item> </entry> </List>
      tags:
      - List{id}
