openapi: 3.2.0
info:
  version: 0.0.1
  title: e-Referrals Service R4 API
  description: '## Overview

    Use this API to create paperless referrals from primary to secondary care with the e-Referral Service (e-RS).'
  contact:
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  license:
    name: MIT
servers:
- url: https://sandbox.api.service.nhs.uk/referrals/FHIR
  description: Sandbox environment.
- url: https://int.api.service.nhs.uk/referrals/FHIR
  description: Integration test environment.
- url: https://api.service.nhs.uk/referrals/FHIR
  description: Production environment. Not yet available.
tags:
- name: R4
paths:
  /R4/Binary/{id}:
    get:
      $ref: components/r4/schemas/endpoints/a042-retrieve-attachment.yaml
      tags:
      - R4
      summary: Get r4 binary by id
      x-summary-source: derived
      operationId: getR4BinaryById
      x-operation-id-source: derived
  /R4/PractitionerRole:
    get:
      $ref: components/r4/schemas/endpoints/a030-retrieve-business-functions.yaml
      tags:
      - R4
      summary: Get r4 practitioner role
      x-summary-source: derived
      operationId: getR4PractitionerRole
      x-operation-id-source: derived
  /R4/HealthcareService/{id}:
    get:
      $ref: components/r4/schemas/endpoints/a033-retrieve-healthcare-service.yaml
      tags:
      - R4
      summary: Get r4 healthcare service by id
      x-summary-source: derived
      operationId: getR4HealthcareServiceById
      x-operation-id-source: derived
    head:
      $ref: components/r4/schemas/endpoints/a037-retrieve-healthcare-service-version.yaml
      tags:
      - R4
      summary: Check r4 healthcare service by id
      x-summary-source: derived
      operationId: headR4HealthcareServiceById
      x-operation-id-source: derived
  /R4/HealthcareService:
    get:
      $ref: components/r4/schemas/endpoints/a035-search-for-healthcare-services.yaml
      tags:
      - R4
      summary: Get r4 healthcare service
      x-summary-source: derived
      operationId: getR4HealthcareService
      x-operation-id-source: derived
  /R4/Practitioner:
    get:
      $ref: components/r4/schemas/endpoints/a040-retrieve-practitioner-info.yaml
      tags:
      - R4
      summary: Get r4 practitioner
      x-summary-source: derived
      operationId: getR4Practitioner
      x-operation-id-source: derived
  /R4/ServiceRequest:
    get:
      $ref: components/r4/schemas/endpoints/a041-search-service-request.yaml
      tags:
      - R4
      summary: Get r4 service request
      x-summary-source: derived
      operationId: getR4ServiceRequest
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-nhsd-api-platform:
  meta:
    service_name: e-referrals-service-api
    short_service_name: ers
    service_base_path: referrals
    product_display_name: e-Referrals-Service
    product_description: The NHS e-RS vision is to enable local innovation and adoption of paperless referrals. To support this vision NHS Digital have created a set of APIs which provide a well-defined, simple to use data interface to the NHS e-Referral Service (e-RS). See https://digital.nhs.uk/developer/api-catalogue/e-referral-service-fhir
    pipeline_name_prefix: E-Referrals-Service
