openapi: 3.2.0
info:
  version: 0.0.1
  title: e-Referrals Service STU3 API
  description: '## Overview

    Use this API to create paperless referrals from primary to secondary care with the e-Referral Service (e-RS).'
  contact:
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  license:
    name: MIT
servers:
- url: https://sandbox.api.service.nhs.uk/referrals/FHIR
  description: Sandbox environment.
- url: https://int.api.service.nhs.uk/referrals/FHIR
  description: Integration test environment.
- url: https://api.service.nhs.uk/referrals/FHIR
  description: Production environment. Not yet available.
tags:
- name: STU3
paths:
  /STU3/CodeSystem/{codeSystemType}:
    get:
      $ref: components/stu3/schemas/endpoints/a004-retrieve-reference-data.yaml
      tags:
      - STU3
      summary: Get stu3 code system by code system type
      x-summary-source: derived
      operationId: getSTU3CodeSystemByCodeSystemType
      x-operation-id-source: derived
  /STU3/ReferralRequest/$ers.fetchworklist:
    post:
      $ref: components/stu3/schemas/endpoints/a008-retrieve-worklist.yaml
      tags:
      - STU3
      summary: Create stu3 referral request $ers fetchworklist
      x-summary-source: derived
      operationId: postSTU3ReferralRequest$ersFetchworklist
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}:
    get:
      $ref: components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
      tags:
      - STU3
      summary: Get stu3 referral request by ubrn
      x-summary-source: derived
      operationId: getSTU3ReferralRequestByUbrn
      x-operation-id-source: derived
  /STU3/Task:
    get:
      $ref: components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
      tags:
      - STU3
      summary: Get stu3 task
      x-summary-source: derived
      operationId: getSTU3Task
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/_history/{version}:
    get:
      $ref: components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
      tags:
      - STU3
      summary: Get stu3 referral request by ubrn history by version
      x-summary-source: derived
      operationId: getSTU3ReferralRequestByUbrnHistoryByVersion
      x-operation-id-source: derived
  /STU3/Binary/{attachmentLogicalID}:
    get:
      $ref: components/stu3/schemas/endpoints/a006-retrieve-attachment.yaml
      tags:
      - STU3
      summary: Get stu3 binary by attachment logical id
      x-summary-source: derived
      operationId: getSTU3BinaryByAttachmentLogicalID
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.generateCRI:
    post:
      $ref: components/stu3/schemas/endpoints/a007-retrieve-clinical-information.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers generate cri
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersGenerateCRI
      x-operation-id-source: derived
  /STU3/HealthcareService/$ers.searchHealthcareServicesForPatient:
    post:
      $ref: components/stu3/schemas/endpoints/a010-patient-service-search.yaml
      tags:
      - STU3
      summary: Create stu3 healthcare service $ers search healthcare services for patient
      x-summary-source: derived
      operationId: postSTU3HealthcareService$ersSearchHealthcareServicesForPatient
      x-operation-id-source: derived
  /STU3/ReferralRequest/$ers.createReferral:
    post:
      $ref: components/stu3/schemas/endpoints/a011-create-referral.yaml
      tags:
      - STU3
      summary: Create stu3 referral request $ers create referral
      x-summary-source: derived
      operationId: postSTU3ReferralRequest$ersCreateReferral
      x-operation-id-source: derived
  /STU3/ReferralRequest/$ers.createReferralAndSendForTriage:
    post:
      $ref: components/stu3/schemas/endpoints/a021-create-referral-request-and-send-for-triage.yaml
      tags:
      - STU3
      summary: Create stu3 referral request $ers create referral and send for triage
      x-summary-source: derived
      operationId: postSTU3ReferralRequest$ersCreateReferralAndSendForTriage
      x-operation-id-source: derived
  /STU3/Slot:
    get:
      $ref: components/stu3/schemas/endpoints/a015-retrieve-appointment-slots.yaml
      tags:
      - STU3
      summary: Get stu3 slot
      x-summary-source: derived
      operationId: getSTU3Slot
      x-operation-id-source: derived
  /STU3/Appointment:
    post:
      $ref: components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
      tags:
      - STU3
      summary: Create stu3 appointment
      x-summary-source: derived
      operationId: postSTU3Appointment
      x-operation-id-source: derived
  /STU3/Binary:
    post:
      $ref: components/stu3/schemas/endpoints/a020-upload-file-to-document-store.yaml
      tags:
      - STU3
      summary: Create stu3 binary
      x-summary-source: derived
      operationId: postSTU3Binary
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.maintainReferralLetter:
    post:
      $ref: components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers maintain referral letter
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersMaintainReferralLetter
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.acceptReferral:
    post:
      $ref: components/stu3/schemas/endpoints/a013-accept-referral.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers accept referral
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersAcceptReferral
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.rejectReferral:
    post:
      $ref: components/stu3/schemas/endpoints/a014-reject-referral.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers reject referral
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersRejectReferral
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.generatePatientLetter:
    post:
      $ref: components/stu3/schemas/endpoints/a019-generate-patient-letter.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers generate patient letter
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersGeneratePatientLetter
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.cancelAppointmentActionLater:
    post:
      $ref: components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers cancel appointment action later
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersCancelAppointmentActionLater
      x-operation-id-source: derived
  /STU3/CommunicationRequest/$ers.fetchworklist:
    post:
      $ref: components/stu3/schemas/endpoints/a023-retrieve-a&g-worklist.yaml
      tags:
      - STU3
      summary: Create stu3 communication request $ers fetchworklist
      x-summary-source: derived
      operationId: postSTU3CommunicationRequest$ersFetchworklist
      x-operation-id-source: derived
  /STU3/CommunicationRequest/{ubrn}:
    get:
      $ref: components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance.yaml
      tags:
      - STU3
      summary: Get stu3 communication request by ubrn
      x-summary-source: derived
      operationId: getSTU3CommunicationRequestByUbrn
      x-operation-id-source: derived
  /STU3/CommunicationRequest/{ubrn}/_history/{version}:
    get:
      $ref: components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance-versioned.yaml
      tags:
      - STU3
      summary: Get stu3 communication request by ubrn history by version
      x-summary-source: derived
      operationId: getSTU3CommunicationRequestByUbrnHistoryByVersion
      x-operation-id-source: derived
  /STU3/Communication:
    get:
      $ref: components/stu3/schemas/endpoints/a025-retrieve-advice-and-guidance-conversation.yaml
      tags:
      - STU3
      summary: Get stu3 communication
      x-summary-source: derived
      operationId: getSTU3Communication
      x-operation-id-source: derived
  /STU3/CommunicationRequest/{ubrn}/$ers.sendCommunicationToRequester:
    post:
      $ref: components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
      tags:
      - STU3
      summary: Create stu3 communication request by ubrn $ers send communication to requester
      x-summary-source: derived
      operationId: postSTU3CommunicationRequestByUbrn$ersSendCommunicationToRequester
      x-operation-id-source: derived
  /STU3/ReferralRequest/$ers.createFromCommunicationRequestActionLater:
    post:
      $ref: components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
      tags:
      - STU3
      summary: Create stu3 referral request $ers create from communication request action later
      x-summary-source: derived
      operationId: postSTU3ReferralRequest$ersCreateFromCommunicationRequestActionLater
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.recordReviewOutcome:
    post:
      $ref: components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers record review outcome
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersRecordReviewOutcome
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.changeShortlist:
    post:
      $ref: components/stu3/schemas/endpoints/a031-change-shortlist.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers change shortlist
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersChangeShortlist
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.changeShortlistAndSendForTriage:
    post:
      $ref: components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers change shortlist and send for triage
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersChangeShortlistAndSendForTriage
      x-operation-id-source: derived
  /STU3/Appointment/{id}:
    put:
      $ref: components/stu3/schemas/endpoints/a034-update-appointment.yaml
      tags:
      - STU3
      summary: Replace stu3 appointment by id
      x-summary-source: derived
      operationId: putSTU3AppointmentById
      x-operation-id-source: derived
    get:
      $ref: components/stu3/schemas/endpoints/a038-retrieve-appointment.yaml
      tags:
      - STU3
      summary: Get stu3 appointment by id
      x-summary-source: derived
      operationId: getSTU3AppointmentById
      x-operation-id-source: derived
  /STU3/Appointment/{id}/_history/{version}:
    get:
      $ref: components/stu3/schemas/endpoints/a038-retrieve-appointment-versioned.yaml
      tags:
      - STU3
      summary: Get stu3 appointment by id history by version
      x-summary-source: derived
      operationId: getSTU3AppointmentByIdHistoryByVersion
      x-operation-id-source: derived
  /STU3/ReferralRequest/{ubrn}/$ers.cancelReferral:
    post:
      $ref: components/stu3/schemas/endpoints/a036-cancel-referral.yaml
      tags:
      - STU3
      summary: Create stu3 referral request by ubrn $ers cancel referral
      x-summary-source: derived
      operationId: postSTU3ReferralRequestByUbrn$ersCancelReferral
      x-operation-id-source: derived
  /STU3/CommunicationRequest/{ubrn}/$ers.generateCRI:
    post:
      $ref: components/stu3/schemas/endpoints/a043-retrieve-advice-and-guidance-overview-pdf.yaml
      tags:
      - STU3
      summary: Create stu3 communication request by ubrn $ers generate cri
      x-summary-source: derived
      operationId: postSTU3CommunicationRequestByUbrn$ersGenerateCRI
      x-operation-id-source: derived
  /STU3/CommunicationRequest/$ers.createAdviceAndGuidance:
    post:
      $ref: components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
      tags:
      - STU3
      summary: Create stu3 communication request $ers create advice and guidance
      x-summary-source: derived
      operationId: postSTU3CommunicationRequest$ersCreateAdviceAndGuidance
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-nhsd-api-platform:
  meta:
    service_name: e-referrals-service-api
    short_service_name: ers
    service_base_path: referrals
    product_display_name: e-Referrals-Service
    product_description: The NHS e-RS vision is to enable local innovation and adoption of paperless referrals. To support this vision NHS Digital have created a set of APIs which provide a well-defined, simple to use data interface to the NHS e-Referral Service (e-RS). See https://digital.nhs.uk/developer/api-catalogue/e-referral-service-fhir
    pipeline_name_prefix: E-Referrals-Service
