openapi: 3.2.0
info:
  title: Nhs Code System API
  contact:
    name: ODS FHIR API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  version: '1.0'
  description: 'Operations tagged CodeSystem across 2 of this provider''s published API definitions: organisation-data-service-fhir-r4-api.yaml, organisation-data-service-fhir-stu3-api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://beta.ods.dc4h.link/fhir/
  description: User acceptance test (UAT) environment.
- url: https://jenkins.ods.dc4h.link/fhir/
  description: Production environment.
- url: https://uat.directory.spineservices.nhs.uk/STU3/
  description: User acceptance test (UAT) environment.
- url: https://directory.spineservices.nhs.uk/STU3/
  description: Production environment.
tags:
- name: CodeSystem
paths:
  /CodeSystem/:
    get:
      summary: Search for additional instance and reference data
      operationId: search-codesystem
      description: "## Overview \n\nUse this endpoint to access a range of information contained in CodeSystems to meet your needs. We have CodeSystems that contain regularly changing data such as organisations, practitioners and relationships plus more traditional reference based CodeSystems.\n\nCodeSystem names include the date when they were last updated i.e. `ods-organization-code-2024-03-07` so when searching for individual concepts (records within the CodeSystem) it is necessary to perform a search using a `$lookup` providing the system and code required in addition to any properties you wish to return.\n\nFor example:\n\n`/CodeSystem/$lookup?system=https://fhir.nhs.uk/Id/ods-organization-code&code=G81086&property=*`\n\n### Summary information\nA summary of each codeSystem can be returned to see which properties are available and which search operations are supported, without attempting to return the data. organisation, role, relationship, postcode and geography information will all generate errors as they are too large to be returned.\n\nPerforming a search will default to summary mode and list each instance of the CodeSystem currently stored on the Server. it is expected that we will retain 2-3 versions at any given point. \n\nFor example:\n`/CodeSystem?url=https://fhir.nhs.uk/Id/ods-organization-code`\n\nThe smaller reference based CodeSystems these can be retrieved in full using `_summary=false` which will return all versions stored on the server in full.\n\n  For example:\n`/CodeSystem?system=https://digital.nhs.uk/services/organisation-data-service/CodeSystem/practitioner-role&_summary=false`\n\n## Code Validation\nUsing the $validate operation you can check whether a code is present within any given ValueSet and you can also provide additional properties to validate their values.\n    \nFor example:\n  `CodeSystem/$validate-code?url=https://fhir.nhs.uk/Id/ods-organization-code&code=RH8&status=active`\n\n## Organisation Data\n### ods-organization-code \nhttps://fhir.nhs.uk/Id/ods-organization-code\n\nIn addition to the data available through the FHIR Organization resource we also have the following properties:\n\n  * related organisations using a Relationship ID such as RE4 (commissioned by), RE6 (operated by), RE8 is Partner to and Nomonated Payee for (RE10) \n  * presence of successor or predecessor information\n  * indicator for onward succession\n  * geographic values such as Local Authority boundary, Integrated Care Board boundary or Lower Super Output Area (LSOA) \n\n### organisation-relationship-instance \nhttps://digital.nhs.uk/services/organisation-data-service/CodeSystem/organization-relationship-instance \nContains relationship history\n\n### organisation-role-instance \n\nContains role history\n\n\n## Practitioner Data\n### practitioner\nhttps://digital.nhs.uk/services/organisation-data-service/CodeSystem/practitioner\n\nContains the prescribing practitioner and consultants in a single CodeSystem to enable lookup and validation of Practitioner codes. Practitioners are categorised with a type and role. roles and types can be validated against the practitioner-role CodeSystem.\n\n  Types include `PGP` (General Practitioner), `PNURSE` - Prescribing Nurse and `PDENTCON` Dental Consultants. \n  \n  Roles include `PHOSPCON120` (ear nose and throat), `PGP1` (principal GP), `PNURSE1` (district nurse / health visitor)\n\nWhere practitioners are associated to an organisation, the current/latest values is held in a membership property, these include `ME1` Parent Practice for GPs and `ME4` Parent Trust for a Dental Consultant. More information about the associations can be found in the practitioner-relationship-instance CodeSystem.\n\nThis CodeSystem has been designed to enable pracitioners with multiple codes, i.e a Prescribing Code and a General Medical Council (GMC) code to be returned or validated.\n\nProperties numbered from 1 to 8 contain a specific identifier issued by a range of authorities, more information about each assigned identifier including start date and issuing Authority can be found in the practitioner-additional-attribute CodeSystem  \n\n### practitioner-relationship-instance\nhttps://digital.nhs.uk/services/organisation-data-service/CodeSystem/practitioner-relationship-instance\n\nContains relationship history where practitioners are associated with an organisation.\n\n### practitioner-additional-attribute\nhttps://digital.nhs.uk/services/organisation-data-service/CodeSystem/practitioner-additional-attribute\n\nContains additional information about the identifier issued to a practitioner, in addition to the identifier, the name and ODS code of the Issing authority, start and end dates for the identifier are included.\n\n## Geographic Data\n#### https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name\n\nSupports the identification of Office for National Statistics (ONS) identifiers for geographic boundaries used within the ods-organization-code CodeSytem. ODS identifiers for geographic organisations such as `ICB` and `Local Authority` can be retreived from the `Organization` Endpoint.\n\n#### https://digital.nhs.uk/services/organisation-data-service/CodeSystem/postcode\n\nContains every postcode within the NHS Postcode Directory and a selection of their geographic boundaries.\n\nMore information about how this data is compiled can be found in the [NHSPD user guide](https://digital.nhs.uk/binaries/content/assets/website-assets/services/ods/user_guide.pdf).\n\nthe following Geographic boundaries are included:\n  * `CA` cancer alliance\n  * `EW` electoral ward\n  * `GOR` government office region\n  * `ICB` integrated care board\n  * `LA` local authority\n  * `LSOA11` 2011 lower super output areas\n  * `NHSER` NHS England region\n  * `PC` parliamentary constituency\n  * `PCO` primary care organisation \n  * `SMHPC AED` strategic mental health provider collaborative - adult eating disorder\n  * `SMHPC AS` strategic mental health provider collaborative - adult secure\n  * `SMHPC CT4` strategic mental health provider collaborative - CYPMH tier 4\n\n## Reference Data\n#### https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole\n\nEvery organisation has at least one role; a primary role. It may also have additional roles which provide more information about the organisation's function or purpose.\n\nThe full list of role codes is contained in this CodeSystem and can be retreived in full or \nindividual role codes can be returned or validated.\n\nThis CodeSystem has 1 additional Property: `primaryRole` which contains a true/false value if the role is a primary role or not.\n\n#### https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRelationship\n\nEvery relationship has a type to describe the nature of the relationship, which includes: `is Commissioned by`, `is operated by` and `is partner to`.\n\n#### https://digital.nhs.uk/services/organisation-data-service/CodeSystem/practitioner-role\n\nWithin the former CSV publications for practitioners, any classifications against a practitioner such as consultant speciality code or nurse prescriber type have been converted to roles and can be returned or validated with this CodeSystem. \n"
      parameters:
      - in: query
        name: system
        description: 'The Unique Resource Indicator (URI) of the codesystem

          '
        required: false
        schema:
          type: string
        examples:
          Organisation-Data:
            summary: ods-organization-code
            value: https://fhir.nhs.uk/Id/ods-organization-code
          Relationship-Data:
            summary: organization-relationship-instance
            value: https://fhir.nhs.uk/Id/ods-organization-code
          practitioner:
            summary: practitioner
            value: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/practitioner
          ODSOrganisationRole:
            summary: ODSOrganisationRole
            value: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
          ODSRecordUseType:
            summary: ODSRecordUseType
            value: https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType
          ODSRecordUseClass:
            summary: ODSRecordClass
            value: https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType
      - in: query
        name: code
        description: "The code of the concept stored within the CodeSystem  \n"
        required: false
        schema:
          type: string
          example: G7112418
      - in: query
        name: property
        description: "Include all or specific properties from a CodeSystem. \n\nTo return all use asterisk ‘*’ \n\nTo return multiple properties, include each one as a separate parameter \n"
        required: false
        schema:
          type: string
        examples:
          return-all:
            summary: return all properties
            value: '*'
          return-one:
            summary: return a single property
            value: opStartDate
      - in: query
        name: _summmary
        description: "override default behaviour to retreive a subset of the CodeSystem content when searching.\n\n  `data` and `false` will generate errors on larger CodeSystems.\n"
        required: false
        schema:
          type: boolean
          example: false
      responses:
        '200':
          description: Valid request that returns every paramter for a single concept for the specified code.
          content:
            application/json:
              example:
                resourceType: Parameters
                parameter:
                - name: code
                  valueCode: G81086
                - name: display
                  valueString: BIRD-IN-EYE SURGERY
                - name: name
                  valueString: ODS Organisation
                - name: system
                  valueUri: https://fhir.nhs.uk/Id/ods-organization-code
                - name: version
                  valueString: '2024-03-07'
                - name: designation
                  part:
                  - name: use
                    valueCoding:
                      system: http://terminology.hl7.org/CodeSystem/designation-usage
                      code: display
                  - name: value
                    valueString: BIRD-IN-EYE SURGERY
                - name: property
                  part:
                  - name: code
                    valueCode: status
                  - name: value
                    valueCode: active
                - name: property
                  part:
                  - name: code
                    valueCode: RE4
                  - name: value
                    valueCode: 97R
                - name: property
                  part:
                  - name: code
                    valueCode: RE6
                  - name: value
                    valueCode: 97R
                - name: property
                  part:
                  - name: code
                    valueCode: RE8
                  - name: value
                    valueCode: U36842
                - name: property
                  part:
                  - name: code
                    valueCode: inactive
                  - name: value
                    valueBoolean: false
                  - name: valueBoolean
                    valueBoolean: false
                - name: property
                  part:
                  - name: code
                    valueCode: country
                  - name: valueString
                    valueString: ENGLAND
                  - name: value
                    valueString: ENGLAND
                - name: property
                  part:
                  - name: code
                    valueCode: opStartDate
                  - name: valueDateTime
                    valueDateTime: '1974-04-01'
                  - name: value
                    valueDateTime: '1974-04-01'
                - name: property
                  part:
                  - name: code
                    valueCode: SMHPC CT4
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: B0N9F
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: B0N9F
                - name: property
                  part:
                  - name: code
                    valueCode: LSOA11
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E01021221
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E01021221
                - name: property
                  part:
                  - name: code
                    valueCode: uprn
                  - name: valueString
                    valueString: '10091054340'
                  - name: value
                    valueString: '10091054340'
                - name: property
                  part:
                  - name: code
                    valueCode: town
                  - name: valueString
                    valueString: UCKFIELD
                  - name: value
                    valueString: UCKFIELD
                - name: property
                  part:
                  - name: code
                    valueCode: postcode
                  - name: valueString
                    valueString: TN22 5AW
                  - name: value
                    valueString: TN22 5AW
                - name: property
                  part:
                  - name: code
                    valueCode: telephone
                  - name: valueString
                    valueString: 01825 763196
                  - name: value
                    valueString: 01825 763196
                - name: property
                  part:
                  - name: code
                    valueCode: NHSER
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: Y59
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: Y59
                - name: property
                  part:
                  - name: code
                    valueCode: EW
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E05011661
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E05011661
                - name: property
                  part:
                  - name: code
                    valueCode: SMHPC AS
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: H3F5A
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: H3F5A
                - name: property
                  part:
                  - name: code
                    valueCode: name
                  - name: valueString
                    valueString: BIRD-IN-EYE SURGERY
                  - name: value
                    valueString: BIRD-IN-EYE SURGERY
                - name: property
                  part:
                  - name: code
                    valueCode: PCO
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: 97R
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: 97R
                - name: property
                  part:
                  - name: code
                    valueCode: role
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO177
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO177
                - name: property
                  part:
                  - name: code
                    valueCode: role
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO76
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO76
                - name: property
                  part:
                  - name: code
                    valueCode: SMHPC AED
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: R7G8O
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: R7G8O
                - name: property
                  part:
                  - name: code
                    valueCode: primaryRole
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO177
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO177
                - name: property
                  part:
                  - name: code
                    valueCode: assigningAuth
                  - name: valueString
                    valueString: NHS BUSINESS SERVICES AUTHORITY
                  - name: value
                    valueString: NHS BUSINESS SERVICES AUTHORITY
                - name: property
                  part:
                  - name: code
                    valueCode: CA
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E56000012
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E56000012
                - name: property
                  part:
                  - name: code
                    valueCode: address2
                  - name: valueString
                    valueString: FRAMFIELD ROAD
                  - name: value
                    valueString: FRAMFIELD ROAD
                - name: property
                  part:
                  - name: code
                    valueCode: address1
                  - name: valueString
                    valueString: UCKFIELD COMMUNITY HOSPITAL
                  - name: value
                    valueString: UCKFIELD COMMUNITY HOSPITAL
                - name: property
                  part:
                  - name: code
                    valueCode: lastChangeDate
                  - name: valueDateTime
                    valueDateTime: '2023-08-22'
                  - name: value
                    valueDateTime: '2023-08-22'
                - name: property
                  part:
                  - name: code
                    valueCode: ICB
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: QNX
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: QNX
                - name: property
                  part:
                  - name: code
                    valueCode: GOR
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: J
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: J
                - name: property
                  part:
                  - name: code
                    valueCode: PC
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E14001023
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E14001023
                - name: property
                  part:
                  - name: code
                    valueCode: LA
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: '815'
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: '815'
                - name: property
                  part:
                  - name: code
                    valueCode: legStartDate
                  - name: valueDateTime
                    valueDateTime: '1974-04-01'
                  - name: value
                    valueDateTime: '1974-04-01'
                - name: property
                  part:
                  - name: code
                    valueCode: orgRecordClass
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass
                      code: RC1
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass
                      code: RC1
                - name: property
                  part:
                  - name: code
                    valueCode: refOnly
                  - name: valueBoolean
                    valueBoolean: false
                  - name: value
                    valueBoolean: false
        4XX:
          description: "\nAn error occurred as follows:\n  \n  | HTTP Code   | issue.severity | issue.code    | issue.details.code  | issue.details.display |\n  |------------ |----------------|---------------|---------------------|---------------------  |\n  |400          |error           |invalid        |HAPI-1940            |Invalid Date/Time/Quantity format |\n  |400          |error           |invalid        |HAPI-0524            |Unknown Search Parameter|\n  |404          |error           |invalid        |HAPI-2001             |Organization not found  |\n  |405          |error           |method not allowed|HAPI-0427         |Method Not Allowed      |\n  |422          |unprocessable   |too-costly     |Too many records requested (Use _count and _offset)|Invalid parameter  |\n  |422          |unprocessable   |processing |No declared filter on Codesystem |An input field has an invalid value for its type  |\n"
      tags:
      - CodeSystem
    servers:
    - url: https://beta.ods.dc4h.link/fhir/
      description: User acceptance test (UAT) environment.
    - url: https://jenkins.ods.dc4h.link/fhir/
      description: Production environment.
  /CodeSystem/{id}:
    get:
      summary: Get code system
      operationId: get-codesystem-id
      description: '## Overview

        Use this endpoint to get a single Code System for a specified ID.

        '
      parameters:
      - in: path
        name: id
        description: 'The ID for a Code System

          '
        required: true
        schema:
          type: string
          example: ODSAPI-OrganizationRole-1
      responses:
        '200':
          description: OK result with CodeSystem
          content:
            application/fhir+json:
              example:
                resourceType: CodeSystem
                url: https://uat.directory.spineservices.nhs.uk/STU3/CodeSystem/ODSAPI-OrganizationRole-1
                version: 1.32.0
                name: ODS API Organization Role
                status: active
                date: '2023-03-10'
                publisher: NHS Digital
                contact:
                - name: National Helpdesk Exeter
                  telecom:
                  - system: email
                    value: exeter.helpdesk@nhs.net
                    use: work
                  - system: phone
                    value: 0300 303 4034
                    use: work
                description: A CodeSystem that identifies the role(s) of the organization.
                copyright: Copyright © 2017 Health and Social Care Information Centre. NHS Digital is the trading name of the Health and Social Care Information Centre.
                content: complete
                concept:
                - code: '180'
                  display: PRIMARY CARE TRUST SITE
                - code: '114'
                  display: DMU SITE
                - code: '132'
                  display: HEALTH AUTHORITY (HA)
                - code: '15'
                  display: REG'D UNDER PART 2 CARE STDS ACT 2000
                - code: '7'
                  display: HOSPICE
                - code: '189'
                  display: SPECIAL HEALTH AUTHORITY (SPHA)
                - code: '191'
                  display: SPECIAL HEALTH AUTHORITY SITE
                - code: '31'
                  display: PPA EPACT SYSTEM
                - code: '29'
                  display: TREATMENT CENTRE
                - code: '268'
                  display: MEDICINE SUPPLIER
                - code: '142'
                  display: LOCAL HEALTH BOARD
                - code: '144'
                  display: WELSH LOCAL HEALTH BOARD
                - code: '108'
                  display: CARE TRUST SITE
                - code: '119'
                  display: LOCAL AUTHORITY - LEGACY
                - code: '122'
                  display: LOCAL AUTHORITY SITE - LEGACY
                - code: '175'
                  display: PRISON
                - code: '126'
                  display: GOVERNMENT DEPARTMENT
                - code: '24'
                  display: NHS TRUST DERIVED
                - code: '57'
                  display: FOUNDATION TRUST
                - code: '173'
                  display: PATHOLOGY LAB
                - code: '22'
                  display: LEVEL 04 PCT
                - code: '109'
                  display: DISTRICT HEALTH AUTHORITY (DHA)
                - code: '111'
                  display: DIRECTLY MANAGED UNIT (DMU)
                - code: '123'
                  display: LOCAL AUTHORITY DEPARTMENT
                - code: '185'
                  display: REGIONAL OFFICE (RO)
                - code: '222'
                  display: LOCAL AUTHORITY SITE
                - code: '40'
                  display: UNITARY AUTHORITY
                - code: '33'
                  display: COUNTY COUNCIL
                - code: '91'
                  display: EXECUTIVE AGENCY PROGRAMME
                - code: '209'
                  display: NHS ENGLAND (REGION)
                - code: '146'
                  display: LOCAL SERVICE PROVIDER (LSP)
                - code: '137'
                  display: ISLE OF MAN GOVERNMENT DIRECTORATE
                - code: '140'
                  display: ISLE OF MAN GOVERNMENT DIRECTORATE SITE
                - code: '161'
                  display: NHS SUPPORT AGENCY
                - code: '200'
                  display: WELSH ASSEMBLY
                - code: '90'
                  display: EXECUTIVE AGENCY SITE
                - code: '148'
                  display: LOCAL HEALTH BOARD SITE
                - code: '249'
                  display: HOSPICE PRESCRIBING COST CENTRE
                - code: '80'
                  display: OUT OF HOURS COST CENTRE
                - code: '87'
                  display: WALK IN CENTRE
                - code: '259'
                  display: URGENT & EMERGENCY CARE PRESCRIBING COST CENTRE
                - code: '138'
                  display: ISLE OF MAN GOVERNMENT DEPARTMENT
                - code: '105'
                  display: CANCER REGISTRY
                - code: '246'
                  display: CARE HOME/NURSING HOME PRESCRIBING COST CENTRE
                - code: '169'
                  display: OTHER UNIT (IN SUPPORT OF NHS BUSINESS)
                - code: '92'
                  display: APPLICATION SERVICE PROVIDER
                - code: '21'
                  display: LEVEL 03 PCT
                - code: '106'
                  display: COMMON SERVICE AGENCY (CSA)
                - code: '25'
                  display: PCT DERIVED
                - code: '150'
                  display: MILITARY HOSPITAL
                - code: '65'
                  display: PRIVATE DENTAL PRACTICE
                - code: '149'
                  display: WELSH LOCAL HEALTH BOARD SITE
                - code: '11'
                  display: LA - METROPOLITAN DISTRICT
                - code: '37'
                  display: METROPOLITAN DISTRICT
                - code: '12'
                  display: LA - INNER LONDON
                - code: '223'
                  display: LONDON BOROUGH
                - code: '67'
                  display: SPECIALISED COMMISSIONING GROUP
                - code: '30'
                  display: RESEARCH AND DEVELOPMENT
                - code: '128'
                  display: GOVERNMENT OFFICE REGION
                - code: '252'
                  display: OPTOMETRY SERVICE PRESCRIBING COST CENTRE
                - code: '82'
                  display: PRISON PRESCRIBING COST CENTRE
                - code: '162'
                  display: OTHER STATUTORY AUTHORITY (OSA)
                - code: '93'
                  display: APPLICATION SERVICE PROVIDER - LEGACY
                - code: '116'
                  display: EXECUTIVE AGENCY
                - code: '117'
                  display: EDUCATION
                - code: '36'
                  display: DISTRICT COUNCIL
                - code: '39'
                  display: METROPOLITAN DISTRICT COUNCIL
                - code: '71'
                  display: PRIVATELY OWNED ENTITY
                - code: '34'
                  display: BOROUGH COUNCIL
                - code: '316'
                  display: SPECIAL SCHOOLS EYE CARE SERVICE PROVIDER
                - code: '134'
                  display: HEALTH OBSERVATORY
                - code: '35'
                  display: CITY COUNCIL
                - code: '131'
                  display: GOVERNMENT DEPARTMENT SITE
                - code: '158'
                  display: NON STATUTORY NHS ORGANISATION
                - code: '147'
                  display: LSP SITE
                - code: '38'
                  display: COUNCIL
                - code: '154'
                  display: NORTHERN IRELAND HEALTH AND SOCIAL CARE TRUST
                - code: '159'
                  display: NATIONAL APPLICATION SERVICE PROVIDER
                - code: '89'
                  display: EXECUTIVE AGENCY PROGRAMME - DEPARTMENT
                - code: '102'
                  display: CLINICAL NETWORK
                - code: '103'
                  display: CANCER NETWORK
                - code: '266'
                  display: EXTENDED ACCESS PROVIDER
                - code: '153'
                  display: NORTHERN IRELAND HEALTH & SOCIAL CARE BOARD
                - code: '267'
                  display: EXTENDED ACCESS HUB
                - code: '168'
                  display: OTHER STATUTORY AUTHORITY SITE
                - code: '69'
                  display: IMMIGRATION REMOVAL CENTRE
                - code: '155'
                  display: NORTHERN IRELAND LOCAL COMMISSIONING GROUP
                - code: '136'
                  display: STRATEGIC HEALTH AUTHORITY SITE
                - code: '319'
                  display: SUB ICB LOCATION
                - code: '211'
                  display: SPECIALISED COMMISSIONING HUB
                - code: '218'
                  display: COMMISSIONING HUB
                - code: '213'
                  display: COMMISSIONING SUPPORT UNIT
                - code: '215'
                  display: HOSTS DATA MANAGMENT INTEGRATION CENTRE (DMIC)
                - code: '99'
                  display: CLINICAL COMMISSIONING GROUP SITE
                - code: '216'
                  display: DATA SERVICES FOR COMMISSIONERS REGIONAL OFFICE (DSCRO)
                - code: '214'
                  display: COMMISSIONING SUPPORT UNIT SITE
                - code: '212'
                  display: NHS ENGLAND (REGION, LOCAL OFFICE) SITE
                - code: '217'
                  display: DSCRO SITE
                - code: '220'
                  display: SECURE TRAINING CENTRE
                - code: '190'
                  display: SCOTTISH HEALTH BOARD
                - code: '227'
                  display: SCOTTISH GP PRACTICE
                - code: '229'
                  display: NON RESIDENTIAL INSTITUTION
                - code: '235'
                  display: COURT
                - code: '233'
                  display: CONSTABULARY
                - code: '234'
                  display: POLICE CUSTODY SUITE
                - code: '260'
                  display: YOUNG OFFENDER INSTITUTION PRESCRIBING COST CENTRE
                - code: '83'
                  display: RESIDENTIAL INSTITUTION
                - code: '228'
                  display: YOUNG OFFENDER INSTITUTION
                - code: '232'
                  display: IMMIGRATION REMOVAL CENTRE
                - code: '230'
                  display: SECURE TRAINING CENTRE
                - code: '231'
                  display: SECURE CHILDREN'S HOME
                - code: '251'
                  display: IMMIGRATION REMOVAL CENTRE PRESCRIBING COST CENTRE
                - code: '94'
                  display: APPLIANCE CONTRACTOR
                - code: '101'
                  display: SOCIAL CARE SITE
                - code: '269'
                  display: CARE HOME
                - code: '270'
                  display: DOMICILIARY CARE
                - code: '256'
                  display: SECURE CHILDREN'S HOME PRESCRIBING COST CENTRE
                - code: '257'
                  display: SECURE TRAINING CENTRE PRESCRIBING COST CENTRE
                - code: '262'
                  display: SUSTAINABILITY TRANSFORMATION PARTNERSHIP
                - code: '318'
                  display: INTEGRATED CARE BOARD
                - code: '236'
                  display: SEXUAL ASSAULT REFERRAL CENTRE
                - code: '258'
                  display: SEXUAL ASSAULT REFERRAL CENTRE PRESCRIBING COST CE
                - code: '273'
                  display: COMBINED AUTHORITY
                - code: '274'
                  display: LOCAL HEALTH AND CARE RECORD EXEMPLAR
                - code: '275'
                  display: SMHPC - CYPMHS TIER 4
                - code: '276'
                  display: SMHPC - ADULT EATING DISORDERS
                - code: '277'
                  display: SMHPC - ADULT SECURE SERVICES
                - code: '221'
                  display: SCHOOL
                - code: '286'
                  display: COMMUNITY SPECIAL SCHOOL
                - code: '281'
                  display: COMMUNITY SCHOOL
                - code: '283'
                  display: VOLUNTARY CONTROLLED SCHOOL
                - code: '282'
                  display: VOLUNTARY AIDED SCHOOL
                - code: '289'
                  display: OTHER INDEPENDENT SCHOOL
                - code: '292'
                  display: LOCAL AUTHORITY NURSERY SCHOOL
                - code: '291'
                  display: PUPIL REFERRAL UNIT
                - code: '284'
                  display: FOUNDATION SCHOOL
                - code: '290'
                  display: FOUNDATION SPECIAL SCHOOL
                - code: '288'
                  display: OTHER INDEPENDENT SPECIAL SCHOOL
                - code: '285'
                  display: CITY TECHNOLOGY COLLEGE
                - code: '287'
                  display: NON-MAINTAINED SPECIAL SCHOOL
                - code: '297'
                  display: ACADEMY SPONSOR LED
                - code: '293'
                  display: FURTHER EDUCATION
                - code: '296'
                  display: MISCELLANEOUS
                - code: '314'
                  display: INSTITUTION FUNDED BY OTHER GOVERNMENT DEPARTMENT
                - code: '300'
                  display: SPECIAL POST 16 INSTITUTION
                - code: '299'
                  display: SIXTH FORM CENTRES
                - code: '294'
                  display: SECURE UNITS
                - code: '298'
                  display: HIGHER EDUCATION INSTITUTIONS
                - code: '302'
                  display: ACADEMY CONVERTER
                - code: '303'
                  display: FREE SCHOOLS
                - code: '309'
                  display: ACADEMY ALTERNATIVE PROVISION CONVERTER
                - code: '307'
                  display: UNIVERSITY TECHNICAL COLLEGE
                - code: '304'
                  display: FREE SCHOOLS SPECIAL
                - code: '311'
                  display: ACADEMY SPECIAL CONVERTER
                - code: '312'
                  display: ACADEMY 16-19 CONVERTER
                - code: '305'
                  display: FREE SCHOOLS ALTERNATIVE PROVISION
                - code: '306'
                  display: FREE SCHOOLS 16 TO 19
                - code: '308'
                  display: STUDIO SCHOOLS
                - code: '301'
                  display: ACADEMY SPECIAL SPONSOR LED
                - code: '310'
                  display: ACADEMY ALTERNATIVE PROVISION SPONSOR LED
                - code: '313'
                  display: ACADEMY 16 TO 19 SPONSOR LED
                - code: '317'
                  display: COMMUNITY DIAGNOSTIC CENTRE
                - code: '315'
                  display: NORTHERN IRELAND GP PRACTICE
                - code: '320'
                  display: ELECTIVE SURGICAL HUB
                - code: '179'
                  display: PRIMARY CARE TRUST
                - code: '171'
                  display: PRIMARY CARE GROUP
                - code: '98'
                  display: CLINICAL COMMISSIONING GROUP
                - code: '272'
                  display: PRIMARY CARE NETWORK
                - code: '76'
                  display: GP PRACTICE
                - code: '177'
                  display: PRESCRIBING COST CENTRE
                - code: '72'
                  display: OTHER PRESCRIBING COST CENTRE
                - code: '210'
                  display: NHS ENGLAND (REGION, LOCAL OFFICE)
                - code: '181'
                  display: PHARMACY HEADQUARTER
                - code: '261'
                  display: STRATEGIC PARTNERSHIP
                - code: '182'
                  display: PHARMACY
                - code: '157'
                  display: NON-NHS ORGANISATION
                - code: '104'
                  display: SOCIAL CARE PROVIDER
                - code: '172'
                  display: INDEPENDENT SECTOR HEALTHCARE PROVIDER
                - code: '250'
                  display: HOSPITAL SERVICE PRESCRIBING COST CENTRE
                - code: '197'
                  display: NHS TRUST
                - code: '198'
                  display: NHS TRUST SITE
                - code: '176'
                  display: INDEPENDENT SECTOR H/C PROVIDER SITE
                - code: '279'
                  display: COVID VACCINATION CENTRE
                - code: '280'
                  display: PHARMACY SITE
                - code: '96'
                  display: BRANCH SURGERY
                - code: '166'
                  display: OPTICAL HEADQUARTERS
                - code: '167'
                  display: OPTICAL SITE
                - code: '110'
                  display: GENERAL DENTAL PRACTICE
                - code: '107'
                  display: CARE TRUST
                - code: '247'
                  display: COMMUNITY HEALTH SERVICE PRESCRIBING COST CENTRE
                - code: '141'
                  display: LOCAL AUTHORITY
                - code: '255'
                  display: PUBLIC HEALTH SERVICE PRESCRIBING COST CENTRE
        4XX:
          description: 'An error occurred as follows:


            | HTTP Code   | issue.severity  | issue.code    | issue.details.code        | issue.details.display |

            |------------ |---------------- |-----------    |-------------------------- |---------------------- |

            | 404         | error           | not-found     | NO_RECORD_FOUND           | No record found |

            '
      tags:
      - CodeSystem
    servers:
    - url: https://uat.directory.spineservices.nhs.uk/STU3/
      description: User acceptance test (UAT) environment.
    - url: https://directory.spineservices.nhs.uk/STU3/
      description: Production environment.
x-refined-from:
- organisation-data-service-fhir-r4-api.yaml
- organisation-data-service-fhir-stu3-api.yaml
x-nhsd-api-platform:
  meta:
    service_name: e-referrals-service-api
    short_service_name: ers
    service_base_path: referrals
    product_display_name: e-Referrals-Service
    product_description: The NHS e-RS vision is to enable local innovation and adoption of paperless referrals. To support this vision NHS Digital have created a set of APIs which provide a well-defined, simple to use data interface to the NHS e-Referral Service (e-RS). See https://digital.nhs.uk/developer/api-catalogue/e-referral-service-fhir
    pipeline_name_prefix: E-Referrals-Service
